.story-content {
  text-align: justify;
  line-height: 200%;
  font-size: 1rem;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding-bottom: 10%;
}
