@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Princess+Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Mukta", sans-serif;
}

.content-wrapper {
  padding: 0 20%;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1022px) {
  .content-wrapper {
    padding: 0 15%;
  }
}
@media screen and (max-width: 834px) {
  .content-wrapper {
    padding: 0 13%;
  }
}

@media screen and (max-width: 715px) {
  .content-wrapper {
    padding: 0 10%;
  }
}
